body {
    font-family: "Open Sans", sans-serif;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

ul {
    list-style: none; 
    margin-left: 0.5em; 
    padding:0 ;
    padding-bottom: 1em;

}
li {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

a {
    text-decoration: none;
}

td {
    min-width: 8em;
    vertical-align: top;
}